.fade {
  background-color: rgb(124, 158, 250);
  position: relative;
  width: 100%;
  /* min-height: 60vh; */
  /* top: 5vh; */
  /* z-index: 6; */
  overflow: hidden;
}

.star-wars-intro {
  display: flex;
  justify-content: center;
  position: relative;
  /* height: 600px; */
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 180%;
  font-weight: 300;
  line-height: 100%;
  perspective: 20px;
  /* text-align: justify; */
  /* margin-top: 1px; */
}

.crawl  {
  /* position: relative; */
  font-size: 25px;
  padding-left:5%;
  padding-right:5%; 
}

.crawl  > .title {
  font-size: 90%;
  text-align: center;
  font-weight: bold;
}

.crawl > .title h1 {
  text-transform: uppercase;
}

.crawl >  p {
  font-size: 20px;
}

.p-center {
  text-align: center;
  color: brown;
  background-color: rgb(247, 199, 140);
}



.neon-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background: rgb(124, 158, 250);
}

.btn {
  width: 300px;;
  border: 2px solid;
  background-color: transparent;
  font-size: 25px;
  padding: 15px 20px;
}

.one {
  background-color:rgb(247, 199, 140);
  color: black
}

.btn:hover {
  color: white;
  border: 0;
}

.one:hover {
  background-color:rgb(223, 117, 117);
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
}

#divider{
  height: 20px;
}


/* 
@keyframes crawl  {
  0% {
    top: 1000px;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
} */

/* .trans {
  background-color: rgb(124, 158, 250);
} */